* {
    font-family: "Century Gothic", Futura, Helvetica, sans-serif;
}

h2{
    font-weight: bold;
}

.interior-text{
    margin-left: 10em;
    margin-top: 5em;
    margin-right: 10em;
    overflow-y: visible;
}

figcaption{
    text-align: center;
    font-size: 80%;
    font-weight: bold;
}

.interior-image{
    height: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.carousel-image{
    height: 494px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.carousel-caption-dark{
    color: #301b61;
}

@media (max-width: 767px){
    .card-img-overlay{
        width: 600px;
        margin-top: 3.5em;
        margin-left: auto;
        margin-right: auto;

    }
    .card-title{
        font-size:150%;
    }
    .interior-text{
        margin-left: 5em;
        margin-top: 5em;
        margin-right: 5em;
    }

    .interior-image{
        height: 200px;
    }
    .carousel-container{
        margin-top: 425px;
        margin-bottom: 100px;
    }
    .carousel-image{
        height: 300px;
    }

}

.character-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contact-form{
    background-color: lavender;
    padding: 2em;
    margin-left: 2em;
    margin-right: 2em;
    margin-bottom: 2em;
    border-radius: 5px;
    overflow-y: visible;
}

.contact-text{
    padding: 2em;
    margin-top: 0.5em;
    margin-right: 2em;
    margin-left: 2em;
    border-radius: 5px;
    overflow-y: visible;
}

input[type="message"]{
    line-height: 75px;
}

@media (min-width:768px)
{
    .character-container {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: left;
    }
    .card-img-overlay {
        margin-top: 3.5em;
        height: 600px;
    }
    .contact-container{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-content: center;
    }

    .carousel-container{
        margin-top: 625px;
        margin-bottom: 100px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-content: center;
    }

    .contact-text{
        padding-top: 8em;
        padding-left: 0.2em;
        margin-top: 0.5em;
        margin-right: 0.5em;
        margin-left: 2em;
        border-radius: 5px;
        overflow-y: visible;
    }
    .contact-form{
        background-color: lavender;
        margin-top: 0.5em;
        margin-bottom: 2em;
        padding-right: 2em;
        border-radius: 5px;
        overflow-y: visible;
    }
    input[type='text'],input[type='email'],input[type='message']{
        width: 40em;
    }
}

.character-text {
    margin-left: 2em;
    margin-top: 5em;
    margin-right: 5em;
    float: none;
}

.character {
    margin-top: 2em;
    margin-left: 2em;
    float: none;
    max-height: 50%;
    max-width: 50%;
}

    @media (min-width: 768px) {
        .character {
            margin-top: 2em;
            margin-left: 2em;
            float: none;
            max-height: 23%;
            max-width: 23%;
        }
    }

    .bg-dark {
        background-color: #301b61 !important;
    }

    .dropdown-menu{
        background-color: lavender !important;
    }

    .logo {
        width: 238px;
        height: 65.4px;
    }

    .btn-xl {
        padding: 10px 20px;
        font-size: 20px;
        border-radius: 10px;
        width: 150px;
    }

    .btn-primary {
        background-color: mediumvioletred;
        border-color: mediumvioletred;
    }

    .btn-primary:hover {
        background-color: deeppink;
        border-color: deeppink;
    }

    .btn-primary:focus{
        background-color: deeppink !important;
        box-shadow: 0 0 0 0.25rem rgba(255, 20, 147, 0.5);
        border-color: deeppink;
    }

.btn-check:checked + .btn-primary:focus, .btn-check:active + .btn-primary:focus, .btn-primary:active:focus,
.btn-primary.active:focus, .show > .btn-primary.dropdown-toggle:focus{
        box-shadow: 0 0 0 0.25rem rgba(255, 20, 147, 0.5) !important;
    }

.btn-check:focus + .btn-primary, .btn-primary:focus{
    box-shadow: 0 0 0 0.25rem rgba(255, 20, 147, 0.5) !important;
}

.form-select:focus{
    box-shadow: 0 0 0 0.25rem rgba(199, 21, 133, 0.5) !important;
}

.form-check-input:focus{
    box-shadow: 0 0 0 0.25rem rgba(199, 21, 133, 0.5) !important;
}

.footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: lavender;
        color: white;
        text-align: right;
        padding: 10px;
        font-size: 0.75rem;
    }


